html
  font-family: 'Roboto', sans-serif
  font-size: 16px
  word-spacing: 1px
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-sizing: border-box
  color #0e0f26


*,
::before,
::after
  margin 0
  background-repeat no-repeat
  box-sizing inherit

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}