@require './settings/*'


.container
  width 100%
  padding 12px
  margin-right auto
  margin-left auto

.details
  position absolute
  left 0
  width 105px

  &-weather
    p
      text-align center
      position relative
      bottom 25px
      color white

    border-radius 0 35px 35px 14px
    position relative
    top 52px
    background-color $colors.dark

  &-temp

    h3
      font-size 35px
      margin-top 2rem
      color #fff

    border-radius 0 0 35px 14px
    display flex
    width 100%
    justify-content space-evenly
    height 138px
    align-items center
    background-color $colors.primary
// hero
#header
  width 100%
  height: calc(100vh - 440px);
  margin 15px 0 30px 0
  border-radius 34px
  background-color $colors.primary
  background-image url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Centro_internacional.JPG/1200px-Centro_internacional.JPG")
  background-position center
  background-repeat no-repeat
  background-size cover

  .card
    margin 60px 0 0 70px
    backdrop-filter blur(3px)
    background-color transparent
    border 0
    position absolute
    height 174px
    width 148px
    display flex
    flex-wrap wrap

    .city
      display contents
      font-size 30px
      color white

      &-map
        margin auto

.place-1
  background-image url("https://citytravelnyc.com/wp-content/uploads/2019/08/locaciones-de-sex-and-the-city.png")
  filter grayscale(0.3);
  background-position center;
  background-repeat no-repeat;
  background-size cover;

.place-2
  background-image url("https://www.smartcitiesworld.net/AcuCustom/Sitename/DAM/019/Sydney_Harbour_at_night_Adobe.jpg")
  filter grayscale(0.5);
  background-position center;
  background-repeat no-repeat;
  background-size cover;

.place-3
  background-image url("https://www.intel.com/content/dam/www/public/us/en/images/iot/RWD/new-york-city-skyline-sunny-aerial-rwd.jpg.rendition.intel.web.864.486.jpg")
  background-position center;
  background-repeat no-repeat;
  background-size cover;


.grid
  display flex
  flex-wrap wrap
  flex 1 1 auto
  margin -12px

  .widget
    width 100%;
    padding 12px;
    flex 0 0 100%;
    max-width 100%;

    h2
      font-size 1.53rem;
      font-weight 350;

  .forecasts
    h2
      margin-bottom 20px

  .places

    &-header
      display flex
      justify-content space-between
      align-items center
      flex-wrap wrap;

      .title

      .reviews
        display flex
        align-items center

        h4
          color #989898

        svg
          width 20px
          height 20px

        &-img
          display flex
          margin-left 30px

          img
            max-height 25px;
            max-width 25px;
            height 100%;
            width 100%;
            border-radius 6px;
            margin 0 1px;

    &-body
      margin-top 40px

      .card

        .btn-add
          background-color $colors.primary
          border-radius 35px
          height 100%
          width 72px
          display flex
          text-align center
          align-items center
          justify-content space-evenly

        &-title
          padding 20px 20px 0 20px
          display flex

          h4
            color #ffff
            margin-left 5px
            font-weight 500

        &:last-child
          justify-content space-between
          .card-title
            padding 20px 0 0 20px
            align-self end

        height 256px
        border none
        align-items baseline
        background-color $colors.dark



  .locations

    .location-card
      flex-flow column
      justify-content space-between

    .card
      height 125px


      &-icon-loc
        background-color $colors.primary
        min-width 23%
        width 82px
        border-radius 15px
        text-align center

        img
          width inherit

      &-info
        display flex
        flex-wrap nowrap
        justify-content space-between
        width 100%
        padding 0 1.5rem
        margin .7rem 0
        font-weight 500

      .container-loc
        display flex
        justify-content space-between
        width 100%

        .temp-loc
          display flex
          margin 1rem auto

          p
            font-size 2.2rem
            border-right solid 3px #e6e6e6
            padding-right 1.5rem

            sup
              color #e6e6e6

          .country
            font-size 1.3rem
            margin 0 1.5rem


      &:last-child
        height 201px
        border-radius 16px
        border dashed 1px $colors.primary

      .container-add-loc
        width 100%
        margin 0 auto
        text-align center

        button
          width 50%
          height 30px
          margin 0 auto
          display block
          border-radius 16px
          padding 0 15px
          border 0
          background-color $colors.light-2
          color $colors.primary
          font-weight 500
          margin-bottom 1.1rem

        img
          max-width 120px










.card
  display flex
  align-items center
  margin 8px 0
  height 80px
  border-radius 16px
  box-shadow 0 6px 24px -9px rgba(0, 0, 0, 0.16)
  border solid 1px #e6e6e6
  background-color #ffffff

  .grid
    justify-content space-between
    margin 0
    align-items center

    .weather
      width 30%
      h3,span
        text-transform: capitalize;
      &-subtitle
        color #989898

      &-icon
        max-width 66px
        width 100%

        img
          width inherit

    .temp
      display flex
      height 80px
      align-items center
      border-radius 16px
      background-color #dde8f5

      &-title
        margin 0 9px

  &:last-child
    margin 8px 0 0 0



// responsive
@media (min-width: 960px)
  .container
    max-width 900px

    #header
      margin 30px 0 30px 0

    .grid


      .forecasts
        width 100%
        padding 12px
        flex 0 0 50%
        max-width 50%

        h2
          margin-bottom 2.5rem

        .grid

          .weather
            font-size 15px

            &-icon
              max-width 55px

          .temp

            &-title
              font-size 14px

      .places
        width 100%
        padding 12px
        flex 0 0 50%
        max-width 50%

        &-body
          display flex
          flex-wrap wrap

          .card-place
            flex 0 0 50%
            max-width 50%
            width 45%
            margin 0 auto 0 0
            border-radius 35px

          .card-group
            flex 0 0 43%
            max-width 43%

            .card
              margin 0
              border-radius 35px


              &:first-child
                height 70px
                margin-bottom 28px

              &:last-child
                height 158px


      .locations
        width 100%
        padding 12px
        flex 0 0 100%
        max-width 100%




@media (min-width: 1264px)
  #header
    z-index 1
  .container
    max-width 1185px

    .grid

      .forecasts
        width 100%
        padding 12px
        flex 0 0 25%
        max-width 25%

        .grid

          .weather
            font-size 18px

            &-icon
              max-width 66px

          .temp

            &-title
              font-size 19px



      .places
        width 100%
        padding 12px
        flex 0 0 41.6666666667%
        max-width 41.6666666667%

      .locations
        position relative
        margin-top -149px
        z-index 99
        width 100%
        padding 12px
        flex 0 0 33.3333333333%
        max-width 33.3333333333%




@media (min-width: 1904px)
  .container
    max-width 1785px


